* {
  margin: 0;
  padding: 0;
  font-family: Gluten;
  user-select: none;
}

.App {
  height: 100vh;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;

  background-image: url(../assets/Background/fundo.svg);
}

.App h1 {
  font-size: 96px;
  color: wheat;
}

.buttons {
  width: 50rem;
  height: 20rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttons .createRoom {
  width: 30rem;
  height: 10rem;

  margin: 1rem 0rem;

  border-radius: 20px;

  background-color: wheat;
  font-size: 36px;

  cursor: pointer;
}

.buttons form #key {
  width: 22rem;
  height: 3rem;

  font-size: 24px;
  outline: none;
  text-align: center;
  color: black;

  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: none;
  
  background-color: wheat;
}

.enterRoom {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.enterRoom form {
  display: flex;
}

.enterRoom form #pointerButton {
  height: 3rem;
  width: 8rem;

  background-color: wheat;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  outline-style: none;

  font-size: 20px;
  font-weight: 900;
  text-align: center;

  border-top: none;
  border-bottom: none;
  border-right: none;
}

