* {
    margin: 0;
    padding: 0;
    font-family: Gluten;
    user-select: none;
}

.createRoom {
    height: 100vh;
    background-image: url(../assets/Background/fundo.svg);
    background-size: cover;
    display: flex;  
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.createRoom h1 {
    font-size: 96px;
    color: wheat;
}

.menu {
    background-color: wheat;
    /* width: 30vw;
    height: 30vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 30px;
}

.qtPlayers {
    width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.qtPlayers p {
    font-size: 40px;
}

#players {
    background-color: wheat;
    width: 5rem;
    height: 3.5rem;
    font-size: 30px;
    text-align: center;
    outline-style: none;
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;
}

.qtLives {
    width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.qtLives p {
    font-size: 40px;
}

#lives {
    background-color: wheat;
    width: 5rem;
    height: 3.5rem;
    font-size: 30px;
    text-align: center;
    outline-style: none;
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;
}

.menuOptions {
    height: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.menuButtons {
    width: 30rem;
    display: flex;
    justify-content: space-between;
}

.buttonCreate {
    background-color: wheat;
    font-size: 25px;
    width: 14rem;
    height: 5rem;
    border-radius: 20px;
    border: 2px solid black;
}

.buttonCreate:hover {
    background-color: rgb(138, 251, 242);
    cursor: pointer;
}

.back {
    background-color: wheat;
    font-size: 25px;
    width: 14rem;
    height: 5rem;
    border-radius: 20px;
    border: 2px solid black;
}

.back:hover {
    background-color: rgb(253, 135, 135);
    cursor: pointer;
}