* {
  margin: 0;
  padding: 0;
  font-family: Quicksand;
  user-select: none;
  text-decoration: none;
}

.Menu {
  height: 100vh;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;

  background-image: url(../assets/Background/fundo.svg);
}

.Menu h1 {
  font-size: 96px;
  font-family: Balsamiq Sans;
  color: wheat;
}

#informations {
  width: 50rem;
  height: 20rem;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  margin-bottom: 5rem;
}

#informations #playerName {
  width: 30rem;
  height: 4rem;

  font-size: 32px;
  outline: none;
  text-align: center;
  color: black;

  border-radius: 20px;
  border: none;

  background-color: wheat;
}

#informations #createRoom {
  width: 30rem;
  height: 4rem;

  margin: 1rem 0rem;

  border-radius: 20px;
  border: none;

  background-color: wheat;
  font-size: 32px;
  font-weight: 600;

  cursor: pointer;
}

#informations #createRoom:hover {
  background-color: rgb(138, 251, 242);
}

#informations #codeInput {
  display: flex;
  flex-direction: row;
}

#informations #key {
  width: 22rem;
  height: 4rem;

  font-size: 32px;
  outline: none;
  text-align: center;
  color: black;

  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: none;

  background-color: wheat;
}

#informations #pointerButton {
  width: 8rem;
  height: 4rem;

  background-color: wheat;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  outline-style: none;

  font-family: none;
  font-size: 32px;
  font-weight: 900;
  text-align: center;

  border-top: none;
  border-bottom: none;
  border-right: none;
  
  display: flex;
  justify-content: center;
}
