@import "../constant/mixins";
@import "../constant/variables";

.playerslives {
    @include display (center, center, center, row, legacy);
    p {
        font-size: 7.5rem;
    }
}

.player {
    @include width-height(5vw, 5vh);
    @include display (center, center, center, column, legacy);

    p {
        font-size: 16px;
        text-align: center;
        color: $white;
        margin-bottom: 2px;
    }

    img {
        @include width-height(4rem, 4rem);
        border-radius: 20rem;
        border: 3px solid $wheat;
    }
}

/* @media only screen and (max-width: 1280px) and (max-height: 720px){
    .player {
        width: 3vw;
        height: 3vh;

    }
    
    .player p {
        font-size: 12px;
    }
    
    .player img {
        width: 2.5rem;
        height: 2.5rem;
    }
}


@media only screen and (max-width: 820px) and (max-height: 700px){
    .playerslives p {
        font-size: 1.5rem;
    }
    
    .player {
        width: 3vw;
        height: 3vh;
    }
    
    .player p {
        font-size: 10px;
    }
    
    .player img {
        width: 2rem;
        height: 2rem;
    }

}

@media only screen and (max-width: 425px){
    .playerlives p {
        font-size: 2rem;
    }
    
    .player {
        width: 2vw;
        height: 2vh;
    }
    
    .player p {
        font-size: 8px;
    }
    
    .player img {
        width: 1rem;
        height: 1rem;
    }
} */