* {
  margin: 0;
  padding: 0;
}


.App {
  height: 100vh;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;

  background-image: url(../src/public/background.png);
}

.App h1 {
  font-size: 64px;
  color: wheat;
  font-family: Gluten;
}

.buttons {
  width: 50rem;
  height: 20rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons button {
  width: 20000rem;
  height: 10rem;

  margin: 1rem;

  border-radius: 20px;

  background-color: wheat;

  font-size: 36px;
}