$black:#1c0c16;
$a:#3b1628;
$a:#5c1d32;
$back:#832031;
$red:#b21918;
$orange:#d64d32;
$a:#e3a283;
$wheat:#f9e1c9;
$a:#261219;
$a:#482127;
$a:#6a2c2b;
$a:#8f3f2d;
$a:#b24e19;
$lightOrange:#d48d40;
$usando:#e1c78e;
$white:#f9f1c7;
$a:#1c0f0d;
$darkBrown:#3b2316;
$brown:#5d3b1c;
$lightBrown:#825f20;
$a:#b29518;
$a:#d6d332;
$yellow:#e2e283;
$a:#f8f9c8;
$a:#132618;
$darkGreen:#204929;
$a:#2b6a2c;
$green:#3c8e2c;
$lightGreen:#4bb318;
$a:#89d440;
$lime:#c5e18f;
$a:#f1f9c6;
$a:#131a26;
$a:#203949;
$cadet:#2a5a6a;
$a:#2d878f;
$a:#18b2a6;
$a:#41d4b0;
$a:#8fe1be;
$steel:#c7f8dc;
$a:#131326;
$a:#212148;
$a:#2b2b6a;
$a:#2c2c8f;
$a:#192bb2;
$a:#406ad4;
$a:#8eb4e0;
$a:#c6e7f9;
$a:#232049;
$a:#392b6a;
$a:#522d8e;
$a:#6d18b2;
$a:#aa40d4;
$a:#d68fe0;
$a:#f9c7f6;
$a:#000001;
$a:#130c1c;
$a:#2a163b;
$a:#4a1d5d;
$a:#772182;
$a:#b318ab;
$a:#d733b3;
$a:#e382be;
$a:#f9c8de;